*{
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}
body{
  background-color: #f2f2f2;
}
.content-center{
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  
}
.content-center .text-center{
  text-align: center;
}
.content-center img{
  width: 70%
}
.content-center form{
  margin: 20px;
}

.content-center input,
.content-center button{
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: none;
  outline: none;
  font-size: 1.1em;
}
.content-center input{
  border-bottom-color: #CCC;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.content-center input:focus{
  border-bottom-color: #d07335;
}
.content-center button{
  background-color: #d07335;
  color: #FFF;
  font-size: 1.3em;
}
.content-center button:hover{
  background-color: #b55b28;
  cursor: pointer;
}
.content-center button:active{
  background-color: #c14e0e;
}

header a{
  color: #666;
  text-decoration: none;
}
header a:visited{
  color: #000;
}
header a:hover{
  text-decoration: underline;
}
header h1{
  font-size: 2.5em;
  text-align: center;
  margin: 50px auto;
}

footer{
  font-size: 1em;
  text-align: center;
  font-weight: 300;
}