*{
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
  }
  body{
    background-color: #f2f2f2;
  }
.content-tabuada{
    width: 100%;
    text-align: center;
    max-width: 500px;
    background-color: #FFF;
    margin: auto;
    padding: 20px;
}
.content-tabuada td{
    padding: 10px;
}